/PrimeiroPrograma/dist/
/PrimeiroPrograma/build/
/HelloWorld/nbproject/private/
/HelloWorld/build/
/HelloWorld/dist/
/Hora/nbproject/private/
/Hora/build/
/LinguagemProgramacao/nbproject/private/
/LinguagemProgramacao/build/
/teste/nbproject/private/
/teste/build/
/Exercicios/nbproject/private/
/Exercicios/build/
/ListaExecicios/nbproject/private/
/ListaExecicios/build/
/ProjetoCarro/nbproject/private/
/POO/nbproject/private/
/POO/build/
/Agenda/nbproject/private/
/Agenda/build/
/Biblioteca/nbproject/private/
/Biblioteca/build/
/Heranca/nbproject/private/
/Heranca/build/
